.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  display: flex;
  align-items: center;
}

.Map {
  height: 595px;
  width: 620px;
}
