.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 10%;
  border: solid black 1px;
}

.Menu {
  background-color: beige;
  width: 15%;
  margin-right: 5%;
}

.Main {
  display: flex;
  justify-items: center;
  width: 100%;
  justify-content: center;
}

.Map {
  height: 595px;
  width: 620px;
}
